@model List<String>

@{
    ViewBag.Title = "PopulateList";
}

<script src="~/Scripts/xbim-viewer.debug.bundle.js" type="text/javascript"></script>


<div class="row">
    <div class="col-md-2">
        <ul>
            @for (var i = 0; i <= Model.Count - 1; i++)
            {
                <li>@Model[i].ToString()</li>
            }
        </ul>

    </div>
    @* BIM MODEL VIEWER *@
    <div id="content" class="col-lg-10">
        <canvas id="viewer" width="800" height="800"></canvas>
        <script type="text/javascript">
            var viewer = new xViewer('viewer');
            viewer.load('/Resources/Data/SampleHouse.wexbim');
            viewer.start();


            function setNavigationModeFly() {
                viewer.navigationMode = 'fly';
            }
            function setNavigationModeOrbit() {
                viewer.navigationMode = 'orbit';
            }
        </script>

    </div>


</div>
<div class="row">
    @* Input for changing navigation modes *@
    <div class="col-md-16">
        <input type="button" value="Fly" onclick="setNavigationModeFly()" class="btn btn-primary btn-block" />
        <input type="button" value="Orbit" onclick="setNavigationModeOrbit()" class="btn btn-primary btn-block" />
    </div>



    @* This is for browsing and submitting files to the server *@
    @using (Html.BeginForm("Upload", "ModelViewer", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-md-6">
            <input type="file" name="file" class="btn btn-primary btn-block" />
            <input type="submit" name="Submit" value="Upload" class="btn btn-primary btn-block" />
        </div>
    }
</div>

