@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">This site is a web based BIM viewer prototype. Here you will find two examples of BIM viewing.<br />
    Navigate to the the different BIM viewers using the tabs in the top of the screen.
    </p>
    
</div>

